
@media only screen and (max-width: 767px) {
  /**bootstrap xs control*/
  body, html {
    font-size: 11px;
  }
  #logo{width:150px;left:25px; top:25px;}
  #home-fold-item h1{width:90%;padding: 10px 5px;}
  .address-section ul li{border: 0px;margin-right: 5px;padding-right: 5px;}
#home-footer .middle-column:before{position: absolute; width:80%; height:2px;top:0px;left:10%; right:10%;border-top: 1px solid #9f9d9e; border-bottom: 1px solid #b8b6b7;content: "";display: block;bottom: auto;}
#home-footer .middle-column:after{position: absolute; width:80%; height:2px;top:auto;bottom:0px;left:10%; right:10%;border-top: 1px solid #9f9d9e; border-bottom: 1px solid #b8b6b7;content: "";display: block;}
.vertical-border{display: none;}
#copy-right p{margin-top: 65px;text-align: center;line-height: 2.5;margin-bottom: 5px;}

#home-fold-item .slider-2 h4.slider-text{left:0px; margin:0px 15px 0px 15px;width:auto;right: auto;}
#home-fold-item .slider-3 h4{margin-left: 25px;}

#home-fold-item .slider-0 h3{font-size: 1.3rem;}
#home-fold-item .slider-0 p{font-size:1.0rem;}
.slider-0 .verti_center{top:80%;}
#home-fold-item .slider-0 .interview-details{font-size: 1.1rem;}
#home-fold-item .slider-0 .img-responsive{height: 50px; width:auto;}
#home-fold-item .slider-2 .img-responsive{height: 50px; width:auto;}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /**bootstrap sm control*/
  body, html {
    font-size: 12px;
  }
  #logo{width:175px;left:25px; top:25px;}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /**bootstrap md control*/
  body, html {
    font-size: 13px;
  }
  
}
@media only screen and (min-width: 1200px) {
  /**bootstrap lg control*/
}
@media only screen and (max-width: 640px) {
  body{font-size: 10px;}
}

