#videocontainer{
    position: relative;
    overflow: hidden;
}
#videocontainer img{
    width:100%;
    height:auto;
}
.video-container video {
  width: 100%;
  max-width: 100%;
}
#videocontainer video {
  
}
/*.vjs-default-skin .vjs-big-play-button {
   left:50%;
  top:50%;
  margin-left:-22px;
    margin-top:-22px;
  display: block;
  z-index:110;
  position: absolute;
  width: 45px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  opacity: 1;
    border: 0px solid #3b4249;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius:0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background-color: transparent;
  background:transparent url('play-button.png') no-repeat center;
  background-size: cover;
}
.vjs-default-skin .vjs-big-play-button::before{
    content: "" !important;
}
.vjs-default-skin:hover .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:focus{outline:0;
border-color:#fff;
background-color:transparent;
-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;
-webkit-transition:all 0s;-moz-transition:all 0s;-o-transition:all 0s;transition:all 0s}*/