.nav-tabs > li{border-bottom: 3px solid transparent;}
.ps-container{height: auto !important;}
.ps-container > .ps-scrollbar-y-rail{height: auto !important;}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    #page .navbar-fixed-top,
    #page .navbar-fixed-bottom{position: relative;}
    #page{padding-top: 0px;}
    .module-action-bar .navbar-right{height: auto;}
    .module-action-bar{border-bottom: 1px solid #d4d4d4;}
    .mod-switcher-container{display:inline-block !important;}
    .mod-switcher-container .module-nav .modules-menu{width:42px;}
    .module-nav .modules-menu{width:42px;}
    .essentials-toggle{display: none !important;}
    .app-indicator-icon-container{display: none !important;}
    #appnav .module-buttons.btn{padding: 6px;}
    
}
@media only screen and (min-width: 320px) and (max-width:479px) {
    .module-action-content .pull-right{padding-left: 0px; padding-left: 0px}
    .loginDiv{max-width:100%;width:auto;}
    
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #page {padding-top: 120px;}
    .mod-switcher-container{display:inline-block !important;}
    .mod-switcher-container .module-nav .modules-menu{width:42px;}
    .module-nav .modules-menu{width:42px;}
}
@media only screen and (min-width: 480px) and (max-width:767px) {
    .col-sxs-3{width:25%;float:left;}
    .col-sxs-6{width:50%;float:left;}
}